body {
  font-family: 'Roboto', sans-serif;
  color: #121213;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  color: #121213;
  font-weight: 700;
}

h1 {
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-size: 35px;
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.25rem;
}

.radial-gradient-blue-green {
  background-image: radial-gradient(circle at bottom right, #8DC53F, #184CA1, #0657DC);
}

/* For older browsers */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .radial-gradient-blue-green {
    background-image: -webkit-radial-gradient(bottom right, circle, #8DC53F, #184CA1, #0657DC);
    background-image: -moz-radial-gradient(bottom right, circle, #8DC53F, #184CA1, #0657DC);
    background-image: -o-radial-gradient(bottom right, circle, #8DC53F, #184CA1, #0657DC);
    background-image: -ms-radial-gradient(bottom right, circle, #8DC53F, #184CA1, #0657DC);
  }
}
.radial-gradient-blue-green-reverse {
  background-image: radial-gradient(circle at bottom right, #8DC53F, #0657DC, #184CA1);
}

/* For older browsers */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .radial-gradient-blue-green-reverse {
    background-image: -webkit-radial-gradient(bottom right, circle, #8DC53F, #0657DC, #184CA1);
    background-image: -moz-radial-gradient(bottom right, circle, #8DC53F, #0657DC, #184CA1);
    background-image: -o-radial-gradient(bottom right, circle, #8DC53F, #0657DC, #184CA1);
    background-image: -ms-radial-gradient(bottom right, circle, #8DC53F, #0657DC, #184CA1);
  }
}

.radial-light-blue-light {
  background: radial-gradient(at left top, #0657DC, transparent),
              radial-gradient(at bottom right, #0657DC, #184CA1);
  background-color: #184CA1;
}

.cta-light-blue-fade {
  background: radial-gradient(circle at bottom left, #0657DC, #184CA1 75%);

}

.cta-blue-black-fade {
  background-color: #091C21;
  background-image: radial-gradient(circle at left, rgba(6, 87, 220, .75), transparent 80%);
  background-blend-mode: screen;
}

.cta-black-gray-fade {
  background-image: linear-gradient(to right, #091C21, transparent);
  background-blend-mode: screen;
}

.cta-black-left-fade {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 5%, #091C21 90%);
}


@media screen and (min-width: 768px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 2.8rem;
  }

}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3.125rem;
  }
}